@media screen and (min-width: 300px) {
	


	#head2 {
	width: 100%;
	height: 200px;
	background: #fff;
	margin-bottom: 10px;
	position: relative;
	background: #487fbc;
	text-align: center;

	}

	#headpic2 {
	background-image: url(headerrob.svg);
	background-repeat:no-repeat;
	width:330px;
	height:200px;
	margin: 0 auto;
	}
	
	.sectionhead{
		font-family: Langdon, sans-serif;
		font-size: 2.5em;
		color: #fff;
	}

}




@media screen and (min-width: 600px) {
	#headpic {
		background-image: url(header550.svg);
		background-repeat:no-repeat;
		width:551px;
		height:200px;
		margin: 0 auto;

	}
	
	#head2 {
		display:none;
	}
	
	#headpic2 {
		display:none;
	}

}

@media screen and (min-width: 720px) {
	

	
	
	#container{
		max-width: 1000px;
	}
	
	.arrow {
		position: absolute;
		bottom: 10px;
		right: 0px;
	}
	
	.sectionhead{
		font-family: Langdon, sans-serif;
		font-size: 2em;
		color: #fff;
	}

	#head {
		width: 100%;
		height: 200px;
		background: #fff;
		margin-bottom: 10px;
		position: relative;
		background: #487fbc;
	}
	
	#headpic {
		background-image: url(header720.svg);
		background-repeat:no-repeat;
		width:721px;
		height:200px;
		margin: 0 auto;
	}

	#about {
		width: 80%;
		height: 170px;
		background: #fff;
		margin-right: 1%;
		margin-bottom: 10px;
		position: relative;
		display: inline-block;
		float: left;
		background: #5e5d5d;
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		color: #fff;
		padding-bottom:20px;
	}
	


	#contact {
		width: 19%;
		height:170px;
		background: #fff;
		margin-bottom: 10px;
		position: relative;
		display: inline-block;
		background: #5e5d5d;
		padding-bottom:25px;

		
	}

	#results {
		width: 49.5%;
		height: 400px;
		background: #fff;
		position: relative;
		margin-right: 1%;
		margin-bottom: 10px;
		display: inline-block;
		float: left;
		background:  #8b070a;
		padding: 10px;
	}

	#survey {
		width: 49.5%;
		height: 100px;
		background: #fff;
		position: relative;
		margin-bottom: 10px;
		display: inline-block;
		background: #edc91f;
	}

	#promises {
		width: 49.5%;
		height:auto;
		background: #fff;
		position: relative;
		//margin-right: 1%;
		margin-bottom: 10px;
		display:inline-block;
		background: #edc91f;

	}

	#battingavg {
		width: 39.5%;
		height: 100px;
		background: #fff;
		position: relative;
		margin-right: 10px;
		margin-bottom: 10px;
		display: inline-block;
	}

	#avgscore {
		width: 39.5%;
		height: 100px;
		background: #fff;
		position: relative;
		margin-bottom: 10px;
		display: inline-block;
	}

	#attendance {
		width: 49.5%;
		height: 200px;
		background: #fff;
		position: relative;
		margin-right: 1%;
		margin-bottom: 10px;
		display: inline-block;
		float: left;
		background: #5e5d5d;
	}

	#wardmap {
		width: 49.5%;
		height: auto;
		background: #fff;
		position: relative;
		margin-bottom: 10px;
		display: inline-block;
		background: #5e5d5d;
	}

	#timeline {
		width: 100%;
		background: #fff;
		position: relative;
		margin-bottom: 10px;
		display: inline-block;
		background:  #8b070a;
		overflow: hidden;
	}
	
	

	#bio {
		width: 49.5%;
		height: auto;
		background: #fff;
		position: relative;
		margin-right: 1%;
		margin-bottom: 10px;
		display: inline-block;
		float: left;
		background: #487fbc;
	}
	
	#sm {
		width: 49.5%;
		height: 400px;
		background: #fff;
		position: relative;
		margin-bottom: 10px;
		display: inline-block;
		background: #5e5d5d;
		color:white;
	}

	#media {
		width: 100%;
		height: 100px;
		background: #fff;
		position: relative;
		margin-bottom: 10px;
		display: inline-block;
		background: #5e5d5d;
		color:white;
	}
	
	
	#adspace {
		width: 100%;
		height: 100px;
		background: #fff;
		position: relative;
		margin-bottom: 10px;
		display: inline-block;
	}	

	
	
}



